/*
 * api.video
 *
 * api.video is an API that encodes on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. You can stream live or on-demand online videos within minutes.
 *
 * API version: 1
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apivideosdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type SummariesServiceI interface {
	/*
	 * Create Generate video summary
	 * @return SummariesApiCreateRequest
	 */

	Create(inlineObject InlineObject) (*SummaryObject, error)

	/*
	 * Create Generate video summary
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return SummariesApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, inlineObject InlineObject) (*SummaryObject, error)

	/*
	 * Get Get summary details
	 * @param summaryId The unique identifier of the summary source you want to retrieve.
	 * @return SummariesApiGetRequest
	 */

	Get(summaryId string) (*SummarySource, error)

	/*
	 * Get Get summary details
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param summaryId The unique identifier of the summary source you want to retrieve.
	 * @return SummariesApiGetRequest
	 */

	GetWithContext(ctx context.Context, summaryId string) (*SummarySource, error)

	/*
	 * Update Update summary details
	 * @param summaryId The unique identifier of the summary source you want to update.
	 * @return SummariesApiUpdateRequest
	 */

	Update(summaryId string, updateSummaryRequest UpdateSummaryRequest) (*SummarySource, error)

	/*
	 * Update Update summary details
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param summaryId The unique identifier of the summary source you want to update.
	 * @return SummariesApiUpdateRequest
	 */

	UpdateWithContext(ctx context.Context, summaryId string, updateSummaryRequest UpdateSummaryRequest) (*SummarySource, error)

	/*
	 * Delete Delete video summary
	 * @param summaryId The unique identifier of the summary you want to delete.
	 * @return SummariesApiDeleteRequest
	 */

	Delete(summaryId string) error

	/*
	 * Delete Delete video summary
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param summaryId The unique identifier of the summary you want to delete.
	 * @return SummariesApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, summaryId string) error

	/*
	 * List List summaries
	 * @return SummariesApiListRequest
	 */

	List() (*GetSummaries, error)

	/*
	 * List List summaries
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return SummariesApiListRequest
	 */

	ListWithContext(ctx context.Context) (*GetSummaries, error)
}

// SummariesService communicating with the Summaries
// endpoints of the api.video API
type SummariesService struct {
	client *Client
}

/*
 * Create Generate video summary
 * Generate a title, abstract, and key takeaways for a video.

 * @return SummariesApiCreateRequest
 */

func (s *SummariesService) Create(inlineObject InlineObject) (*SummaryObject, error) {

	return s.CreateWithContext(context.Background(), inlineObject)

}

/*
 * Create Generate video summary
 * Generate a title, abstract, and key takeaways for a video.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return SummariesApiCreateRequest
 */

func (s *SummariesService) CreateWithContext(ctx context.Context, inlineObject InlineObject) (*SummaryObject, error) {
	var localVarPostBody interface{}

	localVarPath := "/summaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = inlineObject

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(SummaryObject)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Get Get summary details
 * Get all details for a summary.

 * @param summaryId The unique identifier of the summary source you want to retrieve.
 * @return SummariesApiGetRequest
 */

func (s *SummariesService) Get(summaryId string) (*SummarySource, error) {

	return s.GetWithContext(context.Background(), summaryId)

}

/*
 * Get Get summary details
 * Get all details for a summary.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param summaryId The unique identifier of the summary source you want to retrieve.
 * @return SummariesApiGetRequest
 */

func (s *SummariesService) GetWithContext(ctx context.Context, summaryId string) (*SummarySource, error) {
	var localVarPostBody interface{}

	localVarPath := "/summaries/{summaryId}/source"
	localVarPath = strings.Replace(localVarPath, "{"+"summaryId"+"}", url.PathEscape(parameterToString(summaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(SummarySource)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Update Update summary details
 * Update details for a summary. Note that this operation is only allowed for summary objects where `sourceStatus` is `missing`.

 * @param summaryId The unique identifier of the summary source you want to update.
 * @return SummariesApiUpdateRequest
 */

func (s *SummariesService) Update(summaryId string, updateSummaryRequest UpdateSummaryRequest) (*SummarySource, error) {

	return s.UpdateWithContext(context.Background(), summaryId, updateSummaryRequest)

}

/*
 * Update Update summary details
 * Update details for a summary. Note that this operation is only allowed for summary objects where `sourceStatus` is `missing`.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param summaryId The unique identifier of the summary source you want to update.
 * @return SummariesApiUpdateRequest
 */

func (s *SummariesService) UpdateWithContext(ctx context.Context, summaryId string, updateSummaryRequest UpdateSummaryRequest) (*SummarySource, error) {
	var localVarPostBody interface{}

	localVarPath := "/summaries/{summaryId}/source"
	localVarPath = strings.Replace(localVarPath, "{"+"summaryId"+"}", url.PathEscape(parameterToString(summaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	// body params
	localVarPostBody = updateSummaryRequest

	req, err := s.client.prepareRequest(ctx, http.MethodPatch, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(SummarySource)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Delete Delete video summary
 * Delete a summary tied to a video.

 * @param summaryId The unique identifier of the summary you want to delete.
 * @return SummariesApiDeleteRequest
 */

func (s *SummariesService) Delete(summaryId string) error {

	return s.DeleteWithContext(context.Background(), summaryId)

}

/*
 * Delete Delete video summary
 * Delete a summary tied to a video.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param summaryId The unique identifier of the summary you want to delete.
 * @return SummariesApiDeleteRequest
 */

func (s *SummariesService) DeleteWithContext(ctx context.Context, summaryId string) error {
	var localVarPostBody interface{}

	localVarPath := "/summaries/{summaryId}"
	localVarPath = strings.Replace(localVarPath, "{"+"summaryId"+"}", url.PathEscape(parameterToString(summaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return err
	}

	_, err = s.client.do(req, nil)

	if err != nil {
		return err
	}

	return nil

}

/*
 * List List summaries
 * List all summarries for your videos in a project.

 * @return SummariesApiListRequest
 */

func (s *SummariesService) List() (*GetSummaries, error) {

	return s.ListWithContext(context.Background())

}

/*
 * List List summaries
 * List all summarries for your videos in a project.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return SummariesApiListRequest
 */

func (s *SummariesService) ListWithContext(ctx context.Context) (*GetSummaries, error) {
	var localVarPostBody interface{}

	localVarPath := "/summaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(GetSummaries)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
