/*
 * api.video
 *
 * api.video is an API that encodes on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. You can stream live or on-demand online videos within minutes.
 *
 * API version: 1
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apivideosdk

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

type WebhooksApiListRequest struct {
	events      *string
	currentPage *int32
	pageSize    *int32
}

func (r WebhooksApiListRequest) Events(events string) WebhooksApiListRequest {
	r.events = &events
	return r
}
func (r WebhooksApiListRequest) CurrentPage(currentPage int32) WebhooksApiListRequest {
	r.currentPage = &currentPage
	return r
}
func (r WebhooksApiListRequest) PageSize(pageSize int32) WebhooksApiListRequest {
	r.pageSize = &pageSize
	return r
}

type WebhooksServiceI interface {
	/*
	 * Delete Delete a Webhook
	 * @param webhookId The webhook you wish to delete.
	 * @return WebhooksApiDeleteRequest
	 */

	Delete(webhookId string) error

	/*
	 * Delete Delete a Webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param webhookId The webhook you wish to delete.
	 * @return WebhooksApiDeleteRequest
	 */

	DeleteWithContext(ctx context.Context, webhookId string) error

	/*
	 * Get Retrieve Webhook details
	 * @param webhookId The unique webhook you wish to retreive details on.
	 * @return WebhooksApiGetRequest
	 */

	Get(webhookId string) (*Webhook, error)

	/*
	 * Get Retrieve Webhook details
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param webhookId The unique webhook you wish to retreive details on.
	 * @return WebhooksApiGetRequest
	 */

	GetWithContext(ctx context.Context, webhookId string) (*Webhook, error)

	/*
	 * List List all webhooks
	 * @return WebhooksApiListRequest
	 */

	List(r WebhooksApiListRequest) (*WebhooksListResponse, error)

	/*
	 * List List all webhooks
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return WebhooksApiListRequest
	 */

	ListWithContext(ctx context.Context, r WebhooksApiListRequest) (*WebhooksListResponse, error)

	/*
	 * Create Create Webhook
	 * @return WebhooksApiCreateRequest
	 */

	Create(webhooksCreationPayload WebhooksCreationPayload) (*Webhook, error)

	/*
	 * Create Create Webhook
	 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return WebhooksApiCreateRequest
	 */

	CreateWithContext(ctx context.Context, webhooksCreationPayload WebhooksCreationPayload) (*Webhook, error)
}

// WebhooksService communicating with the Webhooks
// endpoints of the api.video API
type WebhooksService struct {
	client *Client
}

/*
 * Delete Delete a Webhook
 * This method will delete the indicated webhook.

 * @param webhookId The webhook you wish to delete.
 * @return WebhooksApiDeleteRequest
 */

func (s *WebhooksService) Delete(webhookId string) error {

	return s.DeleteWithContext(context.Background(), webhookId)

}

/*
 * Delete Delete a Webhook
 * This method will delete the indicated webhook.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param webhookId The webhook you wish to delete.
 * @return WebhooksApiDeleteRequest
 */

func (s *WebhooksService) DeleteWithContext(ctx context.Context, webhookId string) error {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/{webhookId}"
	localVarPath = strings.Replace(localVarPath, "{"+"webhookId"+"}", url.PathEscape(parameterToString(webhookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodDelete, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return err
	}

	_, err = s.client.do(req, nil)

	if err != nil {
		return err
	}

	return nil

}

/*
 * Get Retrieve Webhook details
 * This call provides the same JSON information provided on Webhook creation.

 * @param webhookId The unique webhook you wish to retreive details on.
 * @return WebhooksApiGetRequest
 */

func (s *WebhooksService) Get(webhookId string) (*Webhook, error) {

	return s.GetWithContext(context.Background(), webhookId)

}

/*
 * Get Retrieve Webhook details
 * This call provides the same JSON information provided on Webhook creation.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param webhookId The unique webhook you wish to retreive details on.
 * @return WebhooksApiGetRequest
 */

func (s *WebhooksService) GetWithContext(ctx context.Context, webhookId string) (*Webhook, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks/{webhookId}"
	localVarPath = strings.Replace(localVarPath, "{"+"webhookId"+"}", url.PathEscape(parameterToString(webhookId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(Webhook)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * List List all webhooks
 * Thie method returns a list of your webhooks (with all their details).

You can filter what the webhook list that the API returns using the parameters described below.

 * @return WebhooksApiListRequest
*/

func (s *WebhooksService) List(r WebhooksApiListRequest) (*WebhooksListResponse, error) {

	return s.ListWithContext(context.Background(), r)

}

/*
 * List List all webhooks
 * Thie method returns a list of your webhooks (with all their details).

You can filter what the webhook list that the API returns using the parameters described below.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return WebhooksApiListRequest
*/

func (s *WebhooksService) ListWithContext(ctx context.Context, r WebhooksApiListRequest) (*WebhooksListResponse, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	if r.events != nil {
		localVarQueryParams.Add("events", parameterToString(*r.events, ""))
	}
	if r.currentPage != nil {
		localVarQueryParams.Add("currentPage", parameterToString(*r.currentPage, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}

	req, err := s.client.prepareRequest(ctx, http.MethodGet, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(WebhooksListResponse)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}

/*
 * Create Create Webhook
 * Webhooks can push notifications to your server, rather than polling api.video for changes. We currently offer four events:

* ```video.encoding.quality.completed``` Occurs when a new video is uploaded into your account, it will be encoded into several different HLS and mp4 qualities. When each version is encoded, your webhook will get a notification.  It will look like ```{ "type": "video.encoding.quality.completed", "emittedAt": "2021-01-29T16:46:25.217+01:00", "videoId": "viXXXXXXXX", "encoding": "hls", "quality": "720p"} ```. This request says that the 720p HLS encoding was completed.

* ```live-stream.broadcast.started```  When a live stream begins broadcasting, the broadcasting parameter changes from false to true, and this webhook fires.

* ```live-stream.broadcast.ended```  This event fires when the live stream has finished broadcasting, and the broadcasting parameter flips from false to true.

* ```video.source.recorded```  This event occurs when a live stream is recorded and submitted for encoding.

 * @return WebhooksApiCreateRequest
*/

func (s *WebhooksService) Create(webhooksCreationPayload WebhooksCreationPayload) (*Webhook, error) {

	return s.CreateWithContext(context.Background(), webhooksCreationPayload)

}

/*
 * Create Create Webhook
 * Webhooks can push notifications to your server, rather than polling api.video for changes. We currently offer four events:

* ```video.encoding.quality.completed``` Occurs when a new video is uploaded into your account, it will be encoded into several different HLS and mp4 qualities. When each version is encoded, your webhook will get a notification.  It will look like ```{ "type": "video.encoding.quality.completed", "emittedAt": "2021-01-29T16:46:25.217+01:00", "videoId": "viXXXXXXXX", "encoding": "hls", "quality": "720p"} ```. This request says that the 720p HLS encoding was completed.

* ```live-stream.broadcast.started```  When a live stream begins broadcasting, the broadcasting parameter changes from false to true, and this webhook fires.

* ```live-stream.broadcast.ended```  This event fires when the live stream has finished broadcasting, and the broadcasting parameter flips from false to true.

* ```video.source.recorded```  This event occurs when a live stream is recorded and submitted for encoding.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return WebhooksApiCreateRequest
*/

func (s *WebhooksService) CreateWithContext(ctx context.Context, webhooksCreationPayload WebhooksCreationPayload) (*Webhook, error) {
	var localVarPostBody interface{}

	localVarPath := "/webhooks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	// body params
	localVarPostBody = webhooksCreationPayload

	req, err := s.client.prepareRequest(ctx, http.MethodPost, localVarPath, localVarPostBody, localVarHeaderParams, localVarQueryParams)
	if err != nil {
		return nil, err
	}

	res := new(Webhook)
	_, err = s.client.do(req, res)

	if err != nil {
		return nil, err
	}

	return res, nil

}
