openapi: 3.0.0
info:
  description: api.video is an API that encodes on the go to facilitate immediate
    playback, enhancing viewer streaming experiences across multiple devices and platforms.
    You can stream live or on-demand online videos within minutes.
  title: api.video
  version: "1"
servers:
- description: Production server
  url: https://ws.api.video
- description: Test server `all videos are watermarked, and deleted after 24 hours.
  url: https://sandbox.api.video
paths:
  /auth/api-key:
    post:
      description: |-
        To get started, submit your API key in the body of your request. api.video returns an access token that is valid for one hour (3600 seconds). A refresh token is also returned. View a [tutorial](https://api.video/blog/tutorials/authentication-tutorial) on authentication.
        All tutorials using the [authentication endpoint](https://api.video/blog/endpoints/authenticate)
      operationId: POST_auth-api-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticate-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
              schema:
                $ref: '#/components/schemas/access-token'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/authenticationinvalid_credentials
                    title: The user credentials were incorrect.
                    name: ""
                    status: 400
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
      summary: Authenticate
      tags:
      - Authentication
      x-client-action: authenticate
      x-client-hidden: true
      x-readme:
        code-samples:
        - language: go
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: node
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: php
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: python
          code: |
            #With the api.video API clients, authentication is taken care of with each client created.
            # You get to skip this step!
        - language: java
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: csharp
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
  /auth/refresh:
    post:
      description: "Use the refresh endpoint with the refresh token you received when\
        \ you first authenticated using the api-key endpoint. Send the refresh token\
        \ in the body of your request. The api.video API returns a new access token\
        \ that is valid for one hour (3600 seconds) and a new refresh token. \n"
      operationId: POST_auth-refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refresh-token-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
              schema:
                $ref: '#/components/schemas/access-token'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    type: https://docs.api.video/docs/authenticationinvalid_credentials
                    title: The user credentials were incorrect.
                    name: ""
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
      summary: Refresh token
      tags:
      - Authentication
      x-client-action: refresh
      x-client-hidden: true
      x-readme:
        code-samples:
        - language: go
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: node
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: php
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: python
          code: |
            #With the api.video API clients, authentication is taken care of with each client created.
            # You get to skip this step!
        - language: java
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: csharp
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
  /videos:
    get:
      description: Requests to this endpoint return a list of your videos (with all
        their details). With no parameters added to this query, the API returns all
        videos. You can filter what videos the API returns using the parameters described
        below.  We have [several tutorials](https://api.video/blog/endpoints/video-list)
        that demonstrate this endpoint.
      operationId: LIST-videos
      parameters:
      - description: The title of a specific video you want to find. The search will
          match exactly to what term you provide and return any videos that contain
          the same term as part of their titles.
        example: My Video.mp4
        explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
      - description: A tag is a category you create and apply to videos. You can search
          for videos with particular tags by listing one or more here. Only videos
          that have all the tags you list will be returned.
        example: '["captions", "dialogue"]'
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Videos can be tagged with metadata tags in key:value pairs. You
          can search for videos with specific key value pairs using this parameter.
          [Dynamic Metadata](https://api.video/blog/endpoints/dynamic-metadata) allows
          you to define a key that allows any value pair.
        example: metadata[Author]=John Doe&metadata[Format]=Tutorial
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
        x-is-deep-object: true
      - description: If you described a video with a term or sentence, you can add
          it here to return videos containing this string.
        example: New Zealand
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: If you know the ID for a live stream, you can retrieve the stream
          by adding the ID for it here.
        example: li400mYKSgQ6xs7taUeSaEKr
        explode: true
        in: query
        name: liveStreamId
        required: false
        schema:
          type: string
        style: form
      - description: 'Allowed: publishedAt, title. You can search by the time videos
          were published at, or by title.'
        example: publishedAt
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: 'Allowed: asc, desc. asc is ascending and sorts from A to Z.
          desc is descending and sorts from Z to A.'
        example: asc
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: 'Choose the number of search results to return per page. Minimum
          value: 1'
        example: 2
        explode: true
        in: query
        name: currentPage
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Results per page. Allowed values 1-100, default is 25.
        example: 30
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                    - videoId: vi4blUQJFrYWbaG44NChkH27
                      playerId: pl45KFKdlddgk654dspkze
                      title: Maths video
                      description: An amazing video explaining the string theory
                      public: false
                      panoramic: false
                      mp4Support: true
                      tags:
                      - maths
                      - string theory
                      - video
                      metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                      publishedAt: 2019-12-16T08:25:51+00:00
                      updatedAt: 2019-12-16T08:48:49+00:00
                      source:
                        uri: /videos/c188ed58-3403-46a2-b91b-44603d10b2c9/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
                    - videoId: vi4blUQJFrYWbaG44NChkH27
                      title: Video Title
                      description: A description for your video.
                      public: false
                      panoramic: false
                      mp4Support: true
                      tags:
                      - books
                      - short stories
                      metadata:
                      - key: Author
                        value: John Doe
                      - key: Science Fiction
                        value: Cyberpunk
                      - key: Technology
                        value: Computers
                      publishedAt: 2019-12-16T08:25:51+00:00
                      updatedAt: 2019-12-16T08:48:49+00:00
                      source:
                        uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
                    - videoId: vi4blUQJFrYWbaG44NChkH27
                      playerId: pl45KFKdlddgk654dspkze
                      title: My Video Title
                      description: A brief description of the video.
                      public: false
                      panoramic: false
                      mp4Support: true
                      tags:
                      - General
                      - Videos
                      metadata:
                      - key: Length
                        value: Short
                      publishedAt: 2019-12-16T08:25:51+00:00
                      updatedAt: 2019-12-16T08:48:49+00:00
                      source:
                        uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                      - rel: self
                        uri: https://ws.api.video/videos?currentPage=1
                      - rel: first
                        uri: https://ws.api.video/videos?currentPage=1
                      - rel: last
                        uri: https://ws.api.video/videos?currentPage=1
              schema:
                $ref: '#/components/schemas/videos-list-response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                    - title: This parameter is out of the allowed range of values.
                      name: page
                      range:
                        min: 1
                    - title: This parameter is out of the allowed range of values.
                      name: pageSize
                      range:
                        min: 10
                        max: 100
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
      security:
      - bearerAuth: []
      summary: List all videos
      tags:
      - Videos
      x-readme:
        code-samples:
        - language: php
          code: |
            <?php

            require __DIR__ . '/vendor/autoload.php';

            $httpClient = new \Symfony\Component\HttpClient\Psr18Client();
            $client = new \ApiVideo\Client(
                                'https://sandbox.api.video',
                                'YOUR_API_TOKEN',
                                $httpClient
                            );

            // list all videos (all pages)
            $allVideos = [];
            do {
                $currentPage = $client->videos()->list([]);
                $allVideos = array_merge($allVideos, $currentPage->getData());
            } while($currentPage->getPagination()->getCurrentPage() < $currentPage->getPagination()->getPagesTotal());

            // list videos that have all the given tags (only first results page)
            $videosWithTag = $client->videos()->list(['tags' => ['TAG2','TAG1']]);

            // list videos that have all the given metadata values (only first results page)
            $videosWithMetadata = $client->videos()->list(['metadata' => ['key1' => 'key1value1', 'key2' => 'key2value1']]);
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      x-optional-object: true
    post:
      description: |2

        ## We have tutorials on:
        * [Creating and uploading videos](https://api.video/blog/tutorials/video-upload-tutorial)
        * [Uploading large videos](https://api.video/blog/tutorials/video-upload-tutorial-large-videos)


        * [Using tags with videos](https://api.video/blog/tutorials/video-tagging-best-practices)
        * [Private videos](https://api.video/blog/tutorials/tutorial-private-videos)
        * [Using Dynamic Metadata](https://api.video/blog/tutorials/dynamic-metadata)

        * Full list of [tutorials](https://api.video/blog/endpoints/video-create) that demonstrate this endpoint.
      operationId: POST-video
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-creation-payload'
        description: video to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl4k0jvEUuaTdRAEjQ4Jfrgz
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598Z
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/attributerequired
                    title: This attribute is required.
                    name: title
                    status: 400
                    problems:
                    - type: https://docs.api.video/docs/attributerequired
                      title: This attribute is required.
                      name: title
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be a ISO8601 date.
                      name: scheduledAt
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be an array.
                      name: tags
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be an array.
                      name: metadata
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
      security:
      - bearerAuth: []
      summary: Create a video
      tags:
      - Videos
      x-client-action: create
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n        \n    videoCreationPayload := *apivideosdk.NewVideoCreationPayload(\"\
            Maths video\") // VideoCreationPayload | video to create\n\n    \n   \
            \ res, err := client.Videos.Create(videoCreationPayload)\n\n    if err\
            \ != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `Videos.Create``:\
            \ %v\\n\", err)\n    }\n    // response from `Create`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.Create`: %v\\n\", res)\n}\n"
        - language: node
          code: "//install the module with npm or yarn\n//npm install @api.video/nodejs-client\
            \ --save\n//yarn add @api.video/nodejs-client\nconst client = new ApiVideoClient({\
            \ apiKey: \"YOUR_API_TOKEN\" });\nconst videoCreationPayload = {\n  title:\
            \ \"Maths video\", // The title of your new video.\n  description: \"\
            A video about string theory.\", // A brief description of your video.\n\
            \  source: \"https://www.myvideo.url.com/video.mp4\", // If you add a\
            \ video already on the web, this is where you enter the url for the video.\n\
            \  _public: true, // Whether your video can be viewed by everyone, or\
            \ requires authentication to see it. A setting of false will require a\
            \ unique token for each view.\n  panoramic: false, // Indicates if your\
            \ video is a 360/immersive video.\n  mp4Support: true, // Enables mp4\
            \ version in addition to streamed version.\n  playerId: \"pl45KFKdlddgk654dspkze\"\
            , // The unique identification number for your video player.\n  tags:\
            \ [\"maths\", \"string theory\", \"video\"], // A list of tags you want\
            \ to use to describe your video.\n  metadata: [{\"key\": \"Author\", \"\
            value\": \"John Doe\"}], // A list of key value pairs that you use to\
            \ provide metadata for your video. These pairs can be made dynamic, allowing\
            \ you to segment your audience. You can also just use the pairs as another\
            \ way to tag and categorize your videos.\n}; \n\n// Video\nconst result\
            \ = await client.videos.create(videoCreationPayload);\n"
        - language: php
          code: |
            <?php

            use ApiVideo\Client\Model\Metadata;
            use ApiVideo\Client\Model\VideoCreationPayload;

            require __DIR__ . '/vendor/autoload.php';

            $httpClient = new \Symfony\Component\HttpClient\Psr18Client();
            $client = new \ApiVideo\Client(
                                'https://sandbox.api.video',
                                'YOUR_API_TOKEN',
                                $httpClient
                            );

            $myVideo = $client->videos()->create((new VideoCreationPayload())
                ->setTitle('Video B')
                ->setTags(array("TAG1", "TAG2"))
                ->setMetadata(array(
                    new Metadata(['key' => 'key1', 'value' => 'key1value1']),
                    new Metadata(['key' => 'key2', 'value' => 'key2value1']))));
        - language: python
          code: |
            #install the api.video API client library
            #pip install api.video
            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.video_creation_payload import VideoCreationPayload
            from apivideo.model.bad_request import BadRequest
            from apivideo.model.video import Video
            from pprint import pprint

            # Enter a context with an instance of the API client
            with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_creation_payload = VideoCreationPayload(
                    title="Maths video",
                    description="A video about string theory.",
                    source="https://www.myvideo.url.com/video.mp4",
                    public=True,
                    panoramic=False,
                    mp4_support=True,
                    player_id="pl45KFKdlddgk654dspkze",
                    tags=["maths", "string theory", "video"],
                    metadata=[
                        Metadata(
                            key="Color",
                            value="Green",
                        ),
                    ],
                ) # VideoCreationPayload | video to create

                # example passing only required values which don't have defaults set
                try:
                    # Create a video
                    api_response = api_instance.create(video_creation_payload)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->create: %s\n" % e)
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_TOKEN\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    VideoCreationPayload videoCreationPayload\
            \ = new VideoCreationPayload(); // video to create\n    videoCreationPayload.setTitle(\"\
            Maths video\"); // The title of your new video.\n    videoCreationPayload.setDescription(\"\
            A video about string theory.\"); // A brief description of your video.\n\
            \    videoCreationPayload.setSource(\"https://www.myvideo.url.com/video.mp4\"\
            ); // If you add a video already on the web, this is where you enter the\
            \ url for the video.\n    videoCreationPayload.setPublic(true); // Whether\
            \ your video can be viewed by everyone, or requires authentication to\
            \ see it. A setting of false will require a unique token for each view.\n\
            \    videoCreationPayload.setPanoramic(false); // Indicates if your video\
            \ is a 360/immersive video.\n    videoCreationPayload.setMp4Support(true);\
            \ // Enables mp4 version in addition to streamed version.\n    videoCreationPayload.setPlayerId(\"\
            pl45KFKdlddgk654dspkze\"); // The unique identification number for your\
            \ video player.\n    videoCreationPayload.setTags(Arrays.asList(\"maths\"\
            , \"string theory\", \"video\")); // A list of tags you want to use to\
            \ describe your video.\n    videoCreationPayload.setMetadata(Collections.<Metadata>emptyList());\
            \ // A list of key value pairs that you use to provide metadata for your\
            \ video. These pairs can be made dynamic, allowing you to segment your\
            \ audience. You can also just use the pairs as another way to tag and\
            \ categorize your videos.\n\n\n    try {\n      Video result = apiInstance.create(videoCreationPayload);\n\
            \      System.out.println(result);\n    } catch (ApiException e) {\n \
            \     System.err.println(\"Exception when calling VideosApi#create\");\n\
            \      System.err.println(\"Status code: \" + e.getCode());\n      System.err.println(\"\
            Reason: \" + e.getMessage());\n      System.err.println(\"Response headers:\
            \ \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n \
            \ }\n}\n"
        - language: csharp
          code: |
            //install via Nuget
            //Install-Package ApiVideo

            using System.Diagnostics;
            using ApiVideo.Client;

            namespace Example
            {
                public class createExample
                {
                    public static void Main()
                    {
                        var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                        var apiKey = "YOUR_API_KEY";

                        var apiInstance = new ApiVideoClient(apiKey,basePath);

                        var videoCreationPayload = new VideoCreationPayload(); // VideoCreationPayload | video to create
                        var apiVideosInstance = apiInstance.Videos();
                        try
                        {
                            // Create a video
                            Video result = apiVideosInstance.create(videoCreationPayload);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling VideosApi.create: " + e.Message );
                            Debug.Print("Status Code: "+ e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
  /videos/{videoId}/source:
    post:
      description: "To upload a video to the videoId you created. Replace {videoId}\
        \ with the id you'd like to use, {access_token} with your token, and /path/to/video.mp4\
        \ with the path to the video you'd like to upload. You can only upload your\
        \ video to the videoId once.\nWe offer 2 types of upload: \n* Regular upload\
        \ \n* Progressive upload\nThe latter allows you to split a video source into\
        \ X chunks and send those chunks independently (concurrently or sequentially).\
        \ The 2 main goals for our users are to\n  * allow the upload of video sources\
        \ > 200 MiB (200 MiB = the max. allowed file size for regular upload)\n  *\
        \ allow to send a video source \"progressively\", i.e., before before knowing\
        \ the total size of the video.\n  Once all chunks have been sent, they are\
        \ reaggregated to one source file. The video source is considered as \"completely\
        \ sent\" when the \"last\" chunk is sent (i.e., the chunk that \"completes\"\
        \ the upload).\n```bash\ncurl https://ws.api.video/videos/{videoId}/source\
        \ \\\n  -H 'Authorization: Bearer {access_token}' \\\n  -F file=@/path/to/video.mp4\n\
        \n  ```\nTutorials using [video upload](https://api.video/blog/endpoints/video-upload)."
      operationId: POST_videos-videoId-source
      parameters:
      - description: Enter the videoId you want to use to upload your video.
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      - description: "Content-Range can be used if you want to split your file. You\
          \ can do this by parts, or by chunk.\n* If you split your file by parts\
          \ (recommended option), the `Content-Range` header value must match the\
          \ following pattern: `part <part>/<total_parts>`:\n  * `<part>` is a positive\
          \ integer representing the part number. The first sequential part number\
          \ is always 1.\n  * `<total_parts>` is a positive integer representing the\
          \ total parts of the video source. It can also be `*` if or as long as it\
          \ is unknown. Technically, this value is required only one time and cannot\
          \ differ in several requests.\n* If you split your file by bytes, bear in\
          \ mind byte ranges are inclusive, meaning that bytes 0-5242879 represents\
          \ the first 5,242,880 bytes in a file or object. Also, the Content-Range\
          \ header value must match the following pattern: `bytes <from_byte>-<to_byte>/<total_bytes>`:\n\
          \  * `<from_byte>` is a positive integer or 0. It represents the range start\
          \ (aka lower bound), i.e., the first byte of the chunk compared to the total\
          \ bytes composing the full video source. The first sequential range always\
          \ starts at 0.\n  * `<to_byte>` is a positive integer representing the range\
          \ end (aka upper bound), i.e., the last byte of the chunk compared to the\
          \ total bytes composing the full video source.\n  * `<total_bytes>` is a\
          \ positive integer representing the total bytes composing the full video\
          \ source. It can also be `*` if or as long as it is unknown. Technically,\
          \ this value is required only one time and cannot differ in several requests.\n\
          * Ordering and chunk or part size\n  * The order in which the chunks are\
          \ received on our side does not matter. \n    * Example: `part 3/*` then\
          \ `part 2/*` then `part 1/3` works.\n  * The chunks can be sent concurrently.\
          \ We have a lock mechanism to ensure they are still technically processed\
          \ one by one to ensure the \"completion\" check behaves as expected.\n \
          \ * The only chunk that can be smaller than our minimum allowed chunk size\
          \ (5 MiB) is the last sequential one (i.e., the last sequential range for\
          \ the \"byte-range\" system and the last part for the \"part\" system.\n\
          \    * For instance, if your video is 10.5 MiB big, your last chunk would\
          \ be 500 KiB, and that would work. \n    * Another example is if your video\
          \ is 2 MiB big, then your first and last chunk will be 2MiB and that will\
          \ work as well.\n"
        example: bytes 209715200-419430399/524288000 OR part 2/3
        explode: false
        in: header
        name: Content-Range
        required: false
        schema:
          pattern: /(?:bytes (?<from>\d+)-(?<to>\d+)|part (?<part>\d+))\/(?<total>\d+|\*)/
          type: string
        style: simple
        x-client-ignore: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-upload-payload'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    title: Maths video
                    description: An amazing video explaining the string theory.
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl45KFKdlddgk654dspkze
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598+00:00
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/filealreadyuploaded
                    title: The source of the video is already uploaded.
                    name: file
                    status: 400
                    problems:
                    - type: https://docs.api.video/docs/filealreadyuploaded
                      title: The source of the video is already uploaded.
                      name: file
                    - type: https://docs.api.video/docs/filealreadyuploaded
                      title: The video xxxx has already been uploaded.
                      name: video
                    - type: https://docs.api.video/docs/filemissing
                      title: There is no uploaded file in the request.
                      name: file
                    - type: https://docs.api.video/docs/multiplefilesuploaded
                      title: There is more than one uploaded file in the request.
                      name: file
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Upload a video
      tags:
      - Videos
      x-client-action: upload
      x-client-chunk-upload: true
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n\n      videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" \n    // string\
            \ | Enter the videoId you want to use to upload your video.\n      file\
            \ := os.NewFile(1234, \"some_file\") \n    // *os.File | The path to the\
            \ video you would like to upload. The path must be local. If you want\
            \ to use a video from an online source, you must use the \\\\\\\"/videos\\\
            \\\\\" endpoint and add the \\\\\\\"source\\\\\\\" parameter when you\
            \ create a new video.\n    \n    \n      res, err := client.Videos.UploadFile(videoId,\
            \ file)\n    \n      // you can also use a Reader instead of a File:\n\
            \      // client.Videos.Upload(videoId, fileName, fileReader, fileSize)\n\
            \    \n      if err != nil {\n          fmt.Fprintf(os.Stderr, \"Error\
            \ when calling `Videos.Upload``: %v\\n\", err)\n      }\n      // response\
            \ from `Upload`: Video\n      fmt.Fprintf(os.Stdout, \"Response from `Videos.Upload`:\
            \ %v\\n\", res)\n    }\n      }\n"
        - language: node
          code: "//install the module with npm or yarn\n//npm install @api.video/nodejs-client\
            \ --save\n//yarn add @api.video/nodejs-client\n(async () => {\n    try\
            \ {\n      const client = new ApiVideoClient({ apiKey: \"YOUR_API_TOKEN\"\
            \ });\n      \n      const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Enter\
            \ the videoId you want to use to upload your video.\n      const file\
            \ = 'BINARY_DATA_HERE'; // The path to the video you would like to upload.\
            \ The path must be local. If you want to use a video from an online source,\
            \ you must use the \\\\\\\"/videos\\\\\\\" endpoint and add the \\\\\\\
            \"source\\\\\\\" parameter when you create a new video.\n      \n    \
            \  // Video\n      const result = await client.videos.upload(videoId,\
            \ file);\n      console.log(result);\n    } catch (e) {\n        console.error(e);\n\
            \    }\n})();\n"
        - language: php
          code: |
            <?php

            use ApiVideo\Client\Model\VideoCreationPayload;

            require __DIR__ . '/vendor/autoload.php';

            $httpClient = new \Symfony\Component\HttpClient\Psr18Client();
            $client = new \ApiVideo\Client(
                                'https://sandbox.api.video',
                                'YOUR_API_TOKEN',
                                $httpClient
                            );

            // create a new video & upload a video file
            $myVideo = $client->videos()->create((new VideoCreationPayload())->setTitle('Uploaded video'));
            $client->videos()->upload($myVideo->getVideoId(), new SplFileObject(__DIR__ . '/../../../tests/resources/558k.mp4'));

            // create a new video & upload a video file using progressive upload (the file is uploaded by parts)
            $myVideo2 = $client->videos()->create((new VideoCreationPayload())->setTitle('Uploaded video (progressive upload)'));

            $progressiveSession = $client->videos()->createUploadProgressiveSession($myVideo2->getVideoId());

            $progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/../../../tests/resources/10m.mp4.part.a'));
            $progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/../../../tests/resources/10m.mp4.part.b'));

            $progressiveSession->uploadLastPart(new SplFileObject(__DIR__ . '/../../../tests/resources/10m.mp4.part.c'));
        - language: python
          code: |
            #install the api.video API client library
            #pip install api.video

            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.bad_request import BadRequest
            from apivideo.model.not_found import NotFound
            from apivideo.model.video import Video
            from apivideo.configuration import Configuration
            from pprint import pprint

            # Enter a context with an instance of the API client
            # When uploading a file you can change the chunk size (in octet)
            configuration = Configuration(chunk_size=10 * 1024 * 1024)
            with apivideo.AuthenticatedApiClient(__API_KEY__, configuration=configuration) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_id = "vi4k0jvEUuaTdRAEjQ4Jfrgz" # str | Enter the videoId you want to use to upload your video.
                file = open('/path/to/file', 'rb') # file_type | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the \\\"/videos\\\" endpoint and add the \\\"source\\\" parameter when you create a new video.

                # example passing only required values which don't have defaults set
                try:
                    # Upload a video
                    api_response = api_instance.upload(video_id, file)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->upload: %s\n" % e)
        - language: java
          code: |
            //dependency addition instructions
            //https://github.com/apivideo/api.video-java-client
            // Import classes:
            import video.api.client.ApiVideoClient;
            import video.api.client.api.ApiException;
            import video.api.client.api.models.*;
            import video.api.client.api.clients.VideosApi;
            import java.util.*;

            public class Example {
              public static void main(String[] args) {
                ApiVideoClient client = new ApiVideoClient("YOUR_API_TOKEN");
                // if you rather like to use the sandbox environment:
                // ApiVideoClient client = new ApiVideoClient("YOU_SANDBOX_API_TOKEN", ApiVideoClient.Environment.SANDBOX);

                VideosApi apiInstance = client.videos();

                String videoId = "vi4k0jvEUuaTdRAEjQ4Jfrgz"; // Enter the videoId you want to use to upload your video.
                File file = new File("/path/to/file"); // The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the \\\"/videos\\\" endpoint and add the \\\"source\\\" parameter when you create a new video.

                try {
                  Video result = apiInstance.upload(videoId, file);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling VideosApi#upload");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getMessage());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - language: csharp
          code: |
            //install via Nuget
            //Install-Package ApiVideo

            using System.Diagnostics;
            using ApiVideo.Client;

            namespace Example
            {
                public class uploadExample
                {
                    public static void Main()
                    {
                        var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                        var apiKey = "YOUR_API_KEY";

                        var apiInstance = new ApiVideoClient(apiKey,basePath);

                        var videoId = vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | Enter the videoId you want to use to upload your video.
                        var file = BINARY_DATA_HERE;  // System.IO.Stream | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the \\\"/videos\\\" endpoint and add the \\\"source\\\" parameter when you create a new video.
                        var apiVideosInstance = apiInstance.Videos();
                        try
                        {
                            // Upload a video
                            Video result = apiVideosInstance.upload(videoId, file);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling VideosApi.upload: " + e.Message );
                            Debug.Print("Status Code: "+ e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
  /videos/{videoId}/thumbnail:
    patch:
      description: |-
        Pick a thumbnail from the given time code. If you'd like to upload an image for your thumbnail, use the [Upload a Thumbnail](https://docs.api.video/reference#post_videos-videoid-thumbnail) endpoint. There may be a short delay for the thumbnail to update.
        Tutorials using [Thumbnail picking](https://api.video/blog/endpoints/video-pick-a-thumbnail).
      operationId: PATCH_videos-videoId-thumbnail
      parameters:
      - description: Unique identifier of the video you want to add a thumbnail to,
          where you use a section of your video as the thumbnail.
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-thumbnail-pick-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598+00:00
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Pick a thumbnail
      tags:
      - Videos
      x-client-action: pickThumbnail
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n \
            \   apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n        \n    videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" // string\
            \ | Unique identifier of the video you want to add a thumbnail to, where\
            \ you use a section of your video as the thumbnail.\n    videoThumbnailPickPayload\
            \ := *apivideosdk.NewVideoThumbnailPickPayload(\"Timecode_example\") //\
            \ VideoThumbnailPickPayload | \n\n    \n    res, err := client.Videos.PickThumbnail(videoId,\
            \ videoThumbnailPickPayload)\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr,\
            \ \"Error when calling `Videos.PickThumbnail``: %v\\n\", err)\n    }\n\
            \    // response from `PickThumbnail`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.PickThumbnail`: %v\\n\", res)\n}\n"
        - language: node
          code: "//install the module with npm or yarn\n//npm install @api.video/nodejs-client\
            \ --save\n//yarn add @api.video/nodejs-client\n(async () => {\n  try {\n\
            \      const client = new ApiVideoClient({ apiKey: \"YOUR_API_TOKEN\"\
            \ });\n\n      const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Unique identifier\
            \ of the video you want to add a thumbnail to, where you use a section\
            \ of your video as the thumbnail.\n      const videoThumbnailPickPayload\
            \ = {\n      timecode: \"timecode_example\", \n      // Frame in video\
            \ to be used as a placeholder before the video plays. \n      //Example:\
            \ '\\\"00:01:00.000\\\" for 1 minute into the video.' Valid Patterns:\
            \ \\\"hh:mm:ss.ms\\\" \\\"hh:mm:ss:frameNumber\\\" \\\"124\\\" (integer\
            \ value is reported as seconds) If selection is out of range, \\\"00:00:00.00\\\
            \" will be chosen.\n  }; \n\n      // Video\n      const result = await\
            \ client.videos.pickThumbnail(videoId, videoThumbnailPickPayload);\n \
            \     console.log(result);\n  } catch (e) {\n      console.error(e);\n\
            \  }\n })();\n"
        - language: python
          code: "#install the api.video API client library\n#pip install api.video\n\
            import apivideo\nfrom apivideo.api import videos_api\nfrom apivideo.model.video_thumbnail_pick_payload\
            \ import VideoThumbnailPickPayload\nfrom apivideo.model.not_found import\
            \ NotFound\nfrom apivideo.model.video import Video\nfrom pprint import\
            \ pprint\n\n# Enter a context with an instance of the API client\nwith\
            \ apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:\n    # Create\
            \ an instance of the API class\n    api_instance = videos_api.VideosApi(api_client)\n\
            \    video_id = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" # str | Unique identifier\
            \ of the video you want to add a thumbnail to, where you use a section\
            \ of your video as the thumbnail.\n    video_thumbnail_pick_payload =\
            \ VideoThumbnailPickPayload(\n        timecode=\"04:80:72\",\n    ) #\
            \ VideoThumbnailPickPayload | \n\n    # example passing only required\
            \ values which don't have defaults set\n    try:\n        # Pick a thumbnail\n\
            \        api_response = api_instance.pick_thumbnail(video_id, video_thumbnail_pick_payload)\n\
            \        pprint(api_response)\n    except apivideo.ApiException as e:\n\
            \        print(\"Exception when calling VideosApi->pick_thumbnail: %s\\\
            n\" % e)\n"
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_TOKEN\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    String videoId = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\"\
            ; // Unique identifier of the video you want to add a thumbnail to, where\
            \ you use a section of your video as the thumbnail.\n    VideoThumbnailPickPayload\
            \ videoThumbnailPickPayload = new VideoThumbnailPickPayload(); // \n \
            \   videoThumbnailPickPayload.setTimecode(\"null\"); // Frame in video\
            \ to be used as a placeholder before the video plays.\nExample: &#39;&quot;00:01:00.000&quot;\
            \ for 1 minute into the video.&#39;\nValid Patterns:\n&quot;hh:mm:ss.ms&quot;\n\
            &quot;hh:mm:ss:frameNumber&quot;\n&quot;124&quot; (integer value is reported\
            \ as seconds)\nIf selection is out of range, &quot;00:00:00.00&quot; will\
            \ be chosen.\n\n\n    try {\n      Video result = apiInstance.pickThumbnail(videoId,\
            \ videoThumbnailPickPayload);\n      System.out.println(result);\n   \
            \ } catch (ApiException e) {\n      System.err.println(\"Exception when\
            \ calling VideosApi#pickThumbnail\");\n      System.err.println(\"Status\
            \ code: \" + e.getCode());\n      System.err.println(\"Reason: \" + e.getMessage());\n\
            \      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n\
            \      e.printStackTrace();\n    }\n  }\n}        \n"
        - language: csharp
          code: "//install via Nuget\n//Install-Package ApiVideo\nusing System.Diagnostics;\n\
            using ApiVideo.Client;\n\nnamespace Example\n{\n    public class pickThumbnailExample\n\
            \    {\n        public static void Main()\n        {\n            var\
            \ basePath = ApiVideoClient.Client.Environment.SANDBOX;\n            var\
            \ apiKey = \"YOUR_API_KEY\";\n\n            var apiInstance = new ApiVideoClient(apiKey,basePath);\n\
            \n            var videoId = vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | Unique\
            \ identifier of the video you want to add a thumbnail to, where you use\
            \ a section of your video as the thumbnail.\n            var videoThumbnailPickPayload\
            \ = new VideoThumbnailPickPayload(); // VideoThumbnailPickPayload | \n\
            \            var apiVideosInstance = apiInstance.Videos();\n         \
            \   try\n            {\n                // Pick a thumbnail\n        \
            \        Video result = apiVideosInstance.pickThumbnail(videoId, videoThumbnailPickPayload);\n\
            \                Debug.WriteLine(result);\n            }\n           \
            \ catch (ApiException  e)\n            {\n                Debug.Print(\"\
            Exception when calling VideosApi.pickThumbnail: \" + e.Message );\n  \
            \              Debug.Print(\"Status Code: \"+ e.ErrorCode);\n        \
            \        Debug.Print(e.StackTrace);\n            }\n        }\n    }\n\
            }              \n"
    post:
      description: "The thumbnail is the poster that appears in the player window\
        \ before video playback begins.\nThis endpoint allows you to upload an image\
        \ for the thumbnail.\nTo select a still frame from the video using a time\
        \ stamp, use [Pick a Thumbnail](https://docs.api.video/reference#patch_videos-videoid-thumbnail)\
        \ to pick a time in the video. \nNote: There may be a short delay before the\
        \ new thumbnail is delivered to our CDN.\nTutorials using [Thumbnail upload](https://api.video/blog/endpoints/videos-upload-a-thumbnail)."
      operationId: POST_videos-videoId-thumbnail
      parameters:
      - description: 'Unique identifier of the chosen video '
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-thumbnail-upload-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    createdAt: 2020-03-03T12:52:03.085+00:00
                    publishedAt: 2020-07-14T23:36:18.598+00:00
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    type: https://docs.api.video/docs/fileextension
                    title: Only [jpeg, jpg, JPG, JPEG] extensions are supported.
                    name: file
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Upload a thumbnail
      tags:
      - Videos
      x-client-action: uploadThumbnail
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n\n    videoId := \"videoId_example\" // string | Unique identifier\
            \ of the chosen video \n    file := os.NewFile(1234, \"some_file\") //\
            \ *os.File | The image to be added as a thumbnail.\n\n\n    res, err :=\
            \ client.Videos.UploadThumbnailFile(videoId, file)\n\n    // you can also\
            \ use a Reader instead of a File:\n    // client.Videos.UploadThumbnail(videoId,\
            \ fileName, fileReader)\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr,\
            \ \"Error when calling `Videos.UploadThumbnail``: %v\\n\", err)\n    }\n\
            \    // response from `UploadThumbnail`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.UploadThumbnail`: %v\\n\", res)\n}\n"
        - language: node
          code: "//install the module with npm or yarn\n//npm install @api.video/nodejs-client\
            \ --save\n//yarn add @api.video/nodejs-client\n(async () => {\n    try\
            \ {\n        const client = new ApiVideoClient({ apiKey: \"YOUR_API_TOKEN\"\
            \ });\n\n        const videoId = 'videoId_example'; // Unique identifier\
            \ of the chosen video \n        const file = 'BINARY_DATA_HERE'; // The\
            \ image to be added as a thumbnail.\n\n        // Video\n        const\
            \ result = await client.videos.uploadThumbnail(videoId, file);\n     \
            \   console.log(result);\n    } catch (e) {\n        console.error(e);\n\
            \    }\n})();\n"
        - language: python
          code: "#install the api.video API client library\n#pip install api.video\n\
            \nimport apivideo\nfrom apivideo.api import videos_api\nfrom apivideo.model.bad_request\
            \ import BadRequest\nfrom apivideo.model.not_found import NotFound\nfrom\
            \ apivideo.model.video import Video\nfrom pprint import pprint\n\n# Enter\
            \ a context with an instance of the API client\nwith apivideo.AuthenticatedApiClient(__API_KEY__)\
            \ as api_client:\n    # Create an instance of the API class\n    api_instance\
            \ = videos_api.VideosApi(api_client)\n    video_id = \"videoId_example\"\
            \ # str | Unique identifier of the chosen video \n    file = open('/path/to/file',\
            \ 'rb') # file_type | The image to be added as a thumbnail.\n\n    # example\
            \ passing only required values which don't have defaults set\n    try:\n\
            \        # Upload a thumbnail\n        api_response = api_instance.upload_thumbnail(video_id,\
            \ file)\n        pprint(api_response)\n    except apivideo.ApiException\
            \ as e:\n        print(\"Exception when calling VideosApi->upload_thumbnail:\
            \ %s\\n\" % e)\n"
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n public static void main(String[]\
            \ args) {\n   ApiVideoClient client = new ApiVideoClient(\"YOUR_API_TOKEN\"\
            );\n   // if you rather like to use the sandbox environment:\n   // ApiVideoClient\
            \ client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\", ApiVideoClient.Environment.SANDBOX);\n\
            \n   VideosApi apiInstance = client.videos();\n\n   String videoId = \"\
            videoId_example\"; // Unique identifier of the chosen video \n   File\
            \ file = new File(\"/path/to/file\"); // The image to be added as a thumbnail.\n\
            \n   try {\n     Video result = apiInstance.uploadThumbnail(videoId, file);\n\
            \     System.out.println(result);\n   } catch (ApiException e) {\n   \
            \  System.err.println(\"Exception when calling VideosApi#uploadThumbnail\"\
            );\n     System.err.println(\"Status code: \" + e.getCode());\n     System.err.println(\"\
            Reason: \" + e.getMessage());\n     System.err.println(\"Response headers:\
            \ \" + e.getResponseHeaders());\n     e.printStackTrace();\n   }\n }\n\
            }\n"
        - language: csharp
          code: "//install via Nuget\n//Install-Package ApiVideo\n\nusing System.Diagnostics;\n\
            using ApiVideo.Client;\n\nnamespace Example\n{\n    public class uploadThumbnailExample\n\
            \    {\n        public static void Main()\n        {\n            var\
            \ basePath = ApiVideoClient.Client.Environment.SANDBOX;\n            var\
            \ apiKey = \"YOUR_API_KEY\";\n\n            var apiInstance = new ApiVideoClient(apiKey,basePath);\n\
            \n            var videoId = videoId_example;  // string | Unique identifier\
            \ of the chosen video \n            var file = BINARY_DATA_HERE;  // System.IO.Stream\
            \ | The image to be added as a thumbnail.\n            var apiVideosInstance\
            \ = apiInstance.Videos();\n            try\n            {\n          \
            \      // Upload a thumbnail\n                Video result = apiVideosInstance.uploadThumbnail(videoId,\
            \ file);\n                Debug.WriteLine(result);\n            }\n  \
            \          catch (ApiException  e)\n            {\n                Debug.Print(\"\
            Exception when calling VideosApi.uploadThumbnail: \" + e.Message );\n\
            \                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n      \
            \          Debug.Print(e.StackTrace);\n            }\n        }\n    }\n\
            }\n"
  /videos/{videoId}:
    delete:
      description: If you do not need a video any longer, you can send a request to
        delete it. All you need is the videoId. Tutorials using [video deletion](https://api.video/blog/endpoints/video-delete).
      operationId: DELETE-video
      parameters:
      - description: The video ID for the video you want to delete.
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a video
      tags:
      - Videos
      x-client-action: delete
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            package main\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n   \
            \ apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\nfunc main()\
            \ {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\").Build()\n\
            \        \n    videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" // string | The\
            \ video ID for the video you want to delete.\n    err := client.Videos.Delete(videoId)\n\
            \    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling\
            \ `Videos.Delete``: %v\\n\", err)\n    }\n}  \n"
        - language: node
          code: |
            //install the module with npm or yarn
            //npm install @api.video/nodejs-client --save
            //yarn add @api.video/nodejs-client
            (async () => {
                try {
                    const client = new ApiVideoClient({ apiKey: "YOUR_API_TOKEN" });
                    const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // The video ID for the video you want to delete.
                    // void
                    const result = await client.videos.delete(videoId);
                    console.log(result);
                } catch (e) {
                    console.error(e);
                }
            })();
        - language: python
          code: |
            #install the api.video API client library
            #pip install api.video
            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.not_found import NotFound
            from pprint import pprint
            # Enter a context with an instance of the API client
            with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_id = "vi4k0jvEUuaTdRAEjQ4Jfrgz" # str | The video ID for the video you want to delete.
                # example passing only required values which don't have defaults set
                try:
                    # Delete a video
                    api_instance.delete(video_id)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->delete: %s\n" % e)
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n  \npublic class Example {\n  public static void\
            \ main(String[] args) {\n    ApiVideoClient client = new ApiVideoClient(\"\
            YOUR_API_TOKEN\");\n    // if you rather like to use the sandbox environment:\n\
            \    // ApiVideoClient client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\"\
            , ApiVideoClient.Environment.SANDBOX);\n    \n    VideosApi apiInstance\
            \ = client.videos();\n    \n    String videoId = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\"\
            ; // The video ID for the video you want to delete.\n    \n    try {\n\
            \      apiInstance.delete(videoId);\n    } catch (ApiException e) {\n\
            \      System.err.println(\"Exception when calling VideosApi#delete\"\
            );\n      System.err.println(\"Status code: \" + e.getCode());\n     \
            \ System.err.println(\"Reason: \" + e.getMessage());\n      System.err.println(\"\
            Response headers: \" + e.getResponseHeaders());\n      e.printStackTrace();\n\
            \    }\n  }\n}\n"
        - language: csharp
          code: "//install via Nuget\n//Install-Package ApiVideo\nusing System.Diagnostics;\n\
            using ApiVideo.Client;\n\nnamespace Example\n{\n    public class deleteExample\n\
            \    {\n        public static void Main()\n        {\n            var\
            \ basePath = ApiVideoClient.Client.Environment.SANDBOX;\n            var\
            \ apiKey = \"YOUR_API_KEY\";\n            var apiInstance = new ApiVideoClient(apiKey,basePath);\n\
            \            var videoId = vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | The\
            \ video ID for the video you want to delete.\n            var apiVideosInstance\
            \ = apiInstance.Videos();\n            try\n            {\n          \
            \      // Delete a video\n                apiVideosInstance.delete(videoId);\n\
            \            }\n            catch (ApiException  e)\n            {\n \
            \               Debug.Print(\"Exception when calling VideosApi.delete:\
            \ \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n\
            \                Debug.Print(e.StackTrace);\n            }\n        }\n\
            \    }\n} \n"
    get:
      description: This call provides the same JSON information provided on video
        creation. For private videos, it will generate a unique token url. Use this
        to retrieve any details you need about a video, or set up a private viewing
        URL. Tutorials using [video GET](https://api.video/blog/endpoints/video-get).
      operationId: GET-video
      parameters:
      - description: The unique identifier for the video you want details about.
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 2019-12-16T08:25:51+00:00
                    updatedAt: 2019-12-16T08:48:49+00:00
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Show a video
      tags:
      - Videos
      x-client-action: get
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n \
            \   apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n        \n    videoId := \"videoId_example\" // string | The\
            \ unique identifier for the video you want details about.\n\n    \n  \
            \  res, err := client.Videos.Get(videoId)\n\n    if err != nil {\n   \
            \     fmt.Fprintf(os.Stderr, \"Error when calling `Videos.Get``: %v\\\
            n\", err)\n    }\n    // response from `Get`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.Get`: %v\\n\", res)\n}\n"
        - language: node
          code: |
            //install the module with npm or yarn
            //npm install @api.video/nodejs-client --save
            //yarn add @api.video/nodejs-client
            (async () => {
                try {
                    const client = new ApiVideoClient({ apiKey: "YOUR_API_TOKEN" });

                    const videoId = 'videoId_example'; // The unique identifier for the video you want details about.

                    // Video
                    const result = await client.videos.get(videoId);
                    console.log(result);
                } catch (e) {
                    console.error(e);
                }
            })();
        - language: python
          code: |
            #install the api.video API client library
            #pip install api.video
            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.not_found import NotFound
            from apivideo.model.video import Video
            from pprint import pprint

            # Enter a context with an instance of the API client
            with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_id = "videoId_example" # str | The unique identifier for the video you want details about.

                # example passing only required values which don't have defaults set
                try:
                    # Show a video
                    api_response = api_instance.get(video_id)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->get: %s\n" % e)
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_TOKEN\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    String videoId = \"videoId_example\"; //\
            \ The unique identifier for the video you want details about.\n\n    try\
            \ {\n      Video result = apiInstance.get(videoId);\n      System.out.println(result);\n\
            \    } catch (ApiException e) {\n      System.err.println(\"Exception\
            \ when calling VideosApi#get\");\n      System.err.println(\"Status code:\
            \ \" + e.getCode());\n      System.err.println(\"Reason: \" + e.getMessage());\n\
            \      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n\
            \      e.printStackTrace();\n    }\n  }\n}  \n"
        - language: csharp
          code: "//install via Nuget\n//Install-Package ApiVideo\nusing System.Diagnostics;\n\
            using ApiVideo.Client;\n\nnamespace Example\n{\n    public class getExample\n\
            \    {\n        public static void Main()\n        {\n            var\
            \ basePath = ApiVideoClient.Client.Environment.SANDBOX;\n            var\
            \ apiKey = \"YOUR_API_KEY\";\n\n            var apiInstance = new ApiVideoClient(apiKey,basePath);\n\
            \n            var videoId = videoId_example;  // string | The unique identifier\
            \ for the video you want details about.\n            var apiVideosInstance\
            \ = apiInstance.Videos();\n            try\n            {\n          \
            \      // Show a video\n                Video result = apiVideosInstance.get(videoId);\n\
            \                Debug.WriteLine(result);\n            }\n           \
            \ catch (ApiException  e)\n            {\n                Debug.Print(\"\
            Exception when calling VideosApi.get: \" + e.Message );\n            \
            \    Debug.Print(\"Status Code: \"+ e.ErrorCode);\n                Debug.Print(e.StackTrace);\n\
            \            }\n        }\n    }\n} \n"
    patch:
      description: 'Use this endpoint to update the parameters associated with your
        video. The video you are updating is determined by the video ID you provide
        in the path. For each parameter you want to update, include the update in
        the request body. NOTE: If you are updating an array, you must provide the
        entire array as what you provide here overwrites what is in the system rather
        than appending to it. Tutorials using [video update](https://api.video/blog/endpoints/video-update).'
      operationId: PATCH-video
      parameters:
      - description: The video ID for the video you want to delete.
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-update-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    title: Maths video
                    description: An amazing video explaining the string theory
                    public: false
                    panoramic: false
                    mp4Support: true
                    tags:
                    - maths
                    - string theory
                    - video
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 2019-12-16T08:25:51+00:00
                    updatedAt: 2019-12-16T08:48:49+00:00
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/attributeinvalid
                    title: This attribute must be a ISO-8601 date.
                    name: scheduledAt
                    status: 400
                    problems:
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be a ISO-8601 date.
                      name: scheduledAt
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be an array.
                      name: tags
                    - type: https://docs.api.video/docs/attributeinvalid
                      title: This attribute must be an array.
                      name: metadata
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    type: https://docs.api.video/docs/resourcenot_found
                    title: The requested resource was not found.
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
      security:
      - bearerAuth: []
      summary: Update a video
      tags:
      - Videos
      x-client-action: update
      x-readme:
        code-samples:
        - language: go
          code: "//install the Go API client\n//go get github.com/apivideo/api.video-go-client\n\
            package main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n \
            \   apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_TOKEN\"\
            ).Build()\n    // if you rather like to use the sandbox environment:\n\
            \    // client := apivideosdk.SandboxClientBuilder(\"YOU_SANDBOX_API_TOKEN\"\
            ).Build()\n        \n    videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" // string\
            \ | The video ID for the video you want to delete.\n    videoUpdatePayload\
            \ := *apivideosdk.NewVideoUpdatePayload() // VideoUpdatePayload | \n\n\
            \    \n    res, err := client.Videos.Update(videoId, videoUpdatePayload)\n\
            \n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling\
            \ `Videos.Update``: %v\\n\", err)\n    }\n    // response from `Update`:\
            \ Video\n    fmt.Fprintf(os.Stdout, \"Response from `Videos.Update`: %v\\\
            n\", res)\n}\n"
        - language: node
          code: "//install the module with npm or yarn\n//npm install @api.video/nodejs-client\
            \ --save\n//yarn add @api.video/nodejs-client\n(async () => {\n    try\
            \ {\n        const client = new ApiVideoClient({ apiKey: \"YOUR_API_TOKEN\"\
            \ });\n\n        const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // The video\
            \ ID for the video you want to delete.\n        const videoUpdatePayload\
            \ = {\n      playerId: \"pl4k0jvEUuaTdRAEjQ4Jfrgz\", // The unique ID\
            \ for the player you want to associate with your video.\n      title:\
            \ \"title_example\", // The title you want to use for your video.\n  \
            \    description: \"A film about good books.\", // A brief description\
            \ of the video.\n      _public: true, // Whether the video is publicly\
            \ available or not. False means it is set to private.\n      panoramic:\
            \ false, // Whether the video is a 360 degree or immersive video.\n  \
            \    mp4Support: true, // Whether the player supports the mp4 format.\n\
            \      tags: [\"maths\", \"string theory\", \"video\"], // A list of terms\
            \ or words you want to tag the video with. Make sure the list includes\
            \ all the tags you want as whatever you send in this list will overwrite\
            \ the existing list for the video.\n      metadata: null, // A list (array)\
            \ of dictionaries where each dictionary contains a key value pair that\
            \ describes the video. As with tags, you must send the complete list of\
            \ metadata you want as whatever you send here will overwrite the existing\
            \ metadata for the video.\n    }; \n\n        // Video\n        const\
            \ result = await client.videos.update(videoId, videoUpdatePayload);\n\
            \        console.log(result);\n    } catch (e) {\n        console.error(e);\n\
            \    }\n})();\n"
        - language: python
          code: "#install the api.video API client library\n#pip install api.video\n\
            import apivideo\nfrom apivideo.api import videos_api\nfrom apivideo.model.video_update_payload\
            \ import VideoUpdatePayload\nfrom apivideo.model.bad_request import BadRequest\n\
            from apivideo.model.not_found import NotFound\nfrom apivideo.model.video\
            \ import Video\nfrom pprint import pprint\n\n# Enter a context with an\
            \ instance of the API client\nwith apivideo.AuthenticatedApiClient(__API_KEY__)\
            \ as api_client:\n    # Create an instance of the API class\n    api_instance\
            \ = videos_api.VideosApi(api_client)\n    video_id = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\"\
            \ # str | The video ID for the video you want to delete.\n    video_update_payload\
            \ = VideoUpdatePayload(\n        player_id=\"pl4k0jvEUuaTdRAEjQ4Jfrgz\"\
            ,\n        title=\"title_example\",\n        description=\"A film about\
            \ good books.\",\n        public=True,\n        panoramic=False,\n   \
            \     mp4_support=True,\n        tags=[\"maths\", \"string theory\", \"\
            video\"],\n        metadata=[\n            Metadata(\n               \
            \ key=\"Color\",\n                value=\"Green\",\n            ),\n \
            \       ],\n    ) # VideoUpdatePayload | \n\n    # example passing only\
            \ required values which don't have defaults set\n    try:\n        # Update\
            \ a video\n        api_response = api_instance.update(video_id, video_update_payload)\n\
            \        pprint(api_response)\n    except apivideo.ApiException as e:\n\
            \        print(\"Exception when calling VideosApi->update: %s\\n\" % e)\
            \              \n"
        - language: java
          code: "//dependency addition instructions\n//https://github.com/apivideo/api.video-java-client\n\
            // Import classes:\nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_TOKEN\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOU_SANDBOX_API_TOKEN\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    String videoId = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\"\
            ; // The video ID for the video you want to delete.\n    VideoUpdatePayload\
            \ videoUpdatePayload = new VideoUpdatePayload(); // \n    videoUpdatePayload.setPlayerId(\"\
            pl4k0jvEUuaTdRAEjQ4Jfrgz\"); // The unique ID for the player you want\
            \ to associate with your video.\n    videoUpdatePayload.setTitle(\"null\"\
[...]
